/* ヘッダー */
header {
	width: 70%;
	margin: 0 auto;
	background-color: rgb(159, 207, 255);
	padding: 1px 15px 0 10px;
	border-bottom: solid 1px darkgrey;
}
header a {
	float: right;
}

/* 画面全体の位置 */
.wrapper {
	display: flex;
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	clear: right;
}

/* ログイン画面 */
.logmain {
	width: fit-content;
	margin: auto;
	border: 2px solid darkgray;
	padding: 0 80px 10px 80px;
	text-align: center;
}
.logmain h2 {
	background-color: rgb(211, 211, 211);
	border-radius: 3px;
	padding: 6px 0 6px 0;
}
#login input[name="id"], input[name="password"] , input[name="text"]{
	border: 1px solid darkgray;
	padding: 10px 160px 10px 15px;
	border-radius: 5px;
}
#login input[name="login"] {
	background-color: rgb(0, 0, 255);
	border: 1px solid rgb(0, 0, 255);
	padding: 7px 35px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}

/* ログイン後 */
.login-side {
	width: 30%;
	border-right: 2px solid darkgray;
}
.login-side ul {
	list-style: none;
}
.main {
	width: 70%;
	padding-left: 20px;
}
.main h2 {
	background-color: rgb(211, 211, 211);
	border-radius: 3px;
	padding: 6px 0 6px 10px;
}
#a {
	float: right;
}
footer {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	background-color: rgb(211, 211, 211);
}


/* メニュー画面 */
.menu {
	display: flex;
	justify-content: space-between;
	text-align: center;
	box-sizing: content-box;
}
#stu {
	width: 30%;
	background-color: rgb(255, 164, 164);
	border-radius: 5px;
	margin: 0 auto;
}
#grade {
	width: 30%;
	background-color: rgb(171, 205, 171);
	border-radius: 5px;
	margin: 0 auto;
}
#sub {
	width: 30%;
	background-color: rgb(191, 191, 255);
	border-radius: 5px;
	margin: 0 auto;
}
#form {
	border: 2px solid rgb(192, 192, 192);
	border-radius: 5px;
	padding: 20px 20px 20px 20px;
	clear: right;
}

/* 一覧表示 */
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table th {
	padding: 10px;
	border-bottom: solid 1px rgb(0, 0, 0);
	color: rgb(0, 0, 0)
}
table td {
	padding: 10px;
 	border-bottom: solid 1px rgb(192, 192, 192);
}

/* 情報入力画面 */
#sel select{
	width: 80%;
	padding: 8px 0 8px 0;
	border-radius: 5px;
	border: 2px solid darkgray;
}
#in input {
	width: 80%;
	padding: 8px 0 8px 0;
	border-radius: 5px;
	border: 1px solid darkgray;
}
#noin input {
	width: 80%;
	padding: 8px 0 8px 0;
	border: none;
	outline: 0;
}

/* ボタン */
#subm input {
	background-color: rgb(0, 128, 255);
	border: 1px solid rgb(0, 128, 255);
	padding: 5px 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}
#GACKT input {
	background-color: rgb(103, 103, 103);
	border: 1px solid rgb(103, 103, 103);
	padding: 7px 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}
#del input {
	background-color: rgb(255, 62, 62);
	border: 1px solid rgb(255, 62, 62);
	padding: 5px 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}

/* 入力フォーム文字 */
#sel p {
	margin: 0;
	color: darkorange;
	font-size: 13px;
}
#in p {
	margin: 0;
	color: darkorange;
	font-size: 13px;
}
#kanryo p {
	background-color: rgb(126, 190, 190);
	text-align: center;
}

/* 学生管理 */
#form1 {
	display: flex;
	flex-direction: row;
}
#sele {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 5px
}
#sele select {
	padding: 5px 0 5px 0;
	border-radius: 5px;
	border: 2px solid darkgray;
}

/* 成績管理 */
#form2 {
	display: flex;
	flex-direction: row;
}
#gra1 {
	display: flex;
	flex-direction: column;
	width: 17%;
	margin: 5px
}
#gra1 select {
	padding: 5px 0 5px 0;
	border-radius: 5px;
	border: 2px solid darkgray;
}
#gra2 {
	display: flex;
	flex-direction: column;
	width: 37%;
	margin: 5px
}
#gra2 select {
	padding: 5px 0 5px 0;
	border-radius: 5px;
	border: 2px solid darkgray;
}
#gra2 input {
	padding: 5px 0 5px 0;
	border-radius: 5px;
	border: 2px solid darkgray;
}
